modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mobile: expo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow]]
name = "artifacts/mobile: expo"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18115 pnpm --filter @workspace/mobile run dev"
waitForPort = 18115

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyAq0ccWzsmOk8F04-t4xnn-dUR6VPEH4bs"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "track-invoice.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "track-invoice"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "track-invoice.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "730839496282"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:730839496282:web:f334382cc9b40335824a63"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-K8LX3VN1X6"
EXPO_PUBLIC_SUPABASE_URL = "https://dwdezhmtokuhpgusmezm.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_qOZaMtsbMtlh8YXFnRgKqw_Hivc_fcx"
EXPO_TOKEN = "erR8Pv-HiqNh9zbhusruutoJmBDeppxIThRrDpTu"

[nix]
channel = "stable-25_05"
packages = ["nano"]

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082

[[ports]]
localPort = 8083
externalPort = 3000
